html, body{
	height:100%;
	margin:0;
	min-width:589px;
	font-family: 'Noto Sans', sans-serif;
	min-height: 638px;
}

body>*{
	font-family: 'Noto Sans', serif;
}

img{
	vertical-align:super;
}

#mine{
	width:200px;
	height:200px;
	margin-top: 5%;
	transition: 0.3s;
}

.main-content{
	display:flex;
	height: 100%;
}

.summary{
	flex-basis:30%;
	background-color: #0f3344;
	color: white;
	z-index: -4;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height: 638px;
	position: relative;
}

.dates{
	flex-basis:70%;
	padding-left: 5%;
	height: 100%;
}

th>img{
	width:30px;
	height:30px;
	padding:3px;
}

table{
	margin-top:25%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: justify;
}

h3{
	background-color: #e5d8ea;
	width: 100%;
}

em{
	font-weight: bold;
}

.summary>p{
	text-align: justify;
	margin: 10% 20% 10%;
}

table + p {
	background-color: rgba(15,51,68,.3);
	border-radius: 5%;
	padding:2%;
}

.personal>img{
	height: 87px;
	transform: scaleX(-1);
}

/*---------------------Waves----------------------*/

#wave{
	width: 100%; 
	height: 30%; 
	background: #e5d8ea;
	border-radius: 0 0 100% 0;
	position: absolute;
	z-index: -1;
}

#waveF1{
	width: 100%;
	height: 33%; 
	background: #e5d8ea;
	border-radius: 0 100% 0 0;
	position: absolute;
	z-index: -3;
	bottom:0px;
}

#waveF2{
	width: 100%; 
	height: 20%; 
	background: pink;
	border-radius: 0 100% 0 0;
	position: absolute;
	z-index: -1;
	bottom:0px;
}

#waveF3{
	width: 100%; 
	height: 30%; 
	background: yellowgreen;
	border-radius: 100% 0 0 0;
	position: absolute;
	z-index: -2;
	margin-bottom: 0;
	bottom:0px;
}

#cemicercles{
	display:none;
	bottom:0px;
}

/*--------------------------------------------------------------*/